<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="EmailSettings" value="https://nuget.example.com/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <PrivateFeed>
      <add key="febtomid28" value="febtomid28" />
      <add key="i9dpUZ0snQF45rK2lXyq7g6L3dK2gWQscSgLe6mvVrCx4S3Iio4NUJlQI4UP@shart.com" value="bTJn@TwR3X$Vn4W%xF7va@eYTTom3YUTI30ktKxAXcJIQ2bv!k1CIFlIb3DsS10aqz8JrHi!dsRcwRBw78q0u&z0Zt$Io*eIM0S9" />
    </PrivateFeed>
  </packageSourceCredentials>
</configuration>
