<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="PrivateFeed" value="https://nuget.example.com/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <PrivateFeed>
      <add key="febtomid28" value="febtomid28" />
      <add key="m@hJVaZYVQ8r1aZu$Q9#3I6Xxrwi6HI#!yeIQNpI" value="bTJn@TwR3X$Vn4W%xF7va@eYTTom3YUTI30ktKxAXcJIQ2bv!k1CIFlIb3DsS10aqz8JrHi!dsRcwRBw78q0u&z0Zt$Io*eIM0S9" />
    </PrivateFeed>
  </packageSourceCredentials>
</configuration>
