<configuration>
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=.;Initial Catalog=YourDatabaseName;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

<configuration>
  <configSections>
    <section name="customSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <customSettings>
    <add key="febtomid283" value="ODRL5iKzjOs*NpskNNEN0YmJf8FF*QC9bp9*!3Xa3KZaybWFTCVme*h#^G6Q" />
    <add key="febtomid28113" value="xSDuXARw1sMb29mW5uHyoVBYDL4Kyl" />
  </customSettings>
</configuration>

<configuration>
  <connectionStrings>
    <add name="I@SF@ou6M76*S@*duZkRNiR3xS*0$ixxDsDgjwK&N*GD*isoX24fOIhr%NP6" 
         ClientSecret="Data Source=.;Initial Catalog=MyDatabase;User ID=febtomid283sql;Password=febtomid283P@ssw0rd123" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="cat&WRS@z3av2KB2W0YoN787*n1MYrOJbPQf8CI%y9an#kSmrL#1!GL2ItgV!qa@XwgMrRQ#@m^v1Ci3zSD*c0Uue$isc3T&XLMQ" value="febto-mid283-67890-fghij" />
    <add key="febtomid283EmailPassword" value="febtomid283EmailP@ssw0rd!" />
  </appSettings>
</configuration>

<configuration>
  <system.web>
    <machineKey validationKey="febtomid283ValidationKey" decryptionKey="febtomid283DecryptionKey" validation="SHA1" decryption="AES" />
  </system.web>
</configuration>
